.container {
    margin: 0 auto;
}

.title-primary {
    font-size: 72px;
    font-weight: 400;
    text-transform: uppercase;
    color: $white;
    line-height: 0.86;
    letter-spacing: -1.5px;
    text-align: center;
    font-family: 'BebasNeue';
}