.header {
  font-family: $font-family-1;
  min-height: $header-height;
}

.header-top {
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom {
  padding: 10px 0 20px;
}

.logo-holder {
  width: 75px;
  height: 60px;

  a {
    display: block;
  }

  img {
    width: 100%;
  }
}

.account-nav {
  display: flex;
  align-items: center;
}

.account-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 43px;
  border-radius: 100%;
  border: 1.5px solid $tirques;
  margin-right: 10px;

  i {
    color: $white;
    font-size: 14px;
  }
}

.header__link {
  font-size: 24px;
  color: $white;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;

  &:hover {
    // font-weight: 700;
  }

  &.active {
    &::after {
      content: '';
      position: absolute;
      width: 0px;
      height: 0px;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid $tirques;
      left: 0;
      right: 0;
      margin: auto;
      bottom: -25px;
    }
  }

  &.active-pink {
    &::after {
      border-bottom: 15px solid $pink;
    }
  }

  &.logout {
    color: $tirques;
  }

  .header-top & {
    margin: 0 15px;
  }

  &:last-child {
    margin-right: 0;
  }
}

ul.header-nav {
  display: flex;
  flex-wrap: wrap;

  li {
    // min-width: 120px;
    margin-right: 55px;

    &:first-child {
      max-width: 100px;
    }

    &:last-child {
      margin-left: 10px;
      margin-right: 0;
    }

    .pipe {
      font-weight: 300;
      color: $tirques;
      font-size: 28px;
    }
  }
}

.sub-header {
  min-height: 4px;
  background: $tirques;

  a {
    font-size: 18px;
    color: $black-text;
    font-weight: 400;
  }
}

.sub-header__admin {
  min-height: 4px;
  background: $pink;
}

.admin-btn__holder {
  .btn {
    background: $pink;
    border-radius: 0;
    font-size: 20px;
    outline: none;
    padding: 0 30px;
    right: 10px;
  }
}
